@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: #4A8A90;
  --color-brand-dark: #3d7479;
  --color-brand-light: #eef6f7;
  --color-second-brand:#3F7881;
  --color-brand-border: #c8e0e2;
  --color-brand-navy: #1B3A4B;
  --color-brand-navy-dark: #142d3a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
